@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

/**
 * Fancy glass
 * with a gradient background and blur
 */
.fancyGlass {
  --glass-color: 100, 100, 200;

  background: radial-gradient(
      63.94% 63.94% at 50% 0%,
      rgba(var(--glass-color), 0.12) 0%,
      rgba(var(--glass-color), 0) 100%
    ),
    rgba(var(--glass-color), 0.01);
  backdrop-filter: blur(6px);
  position: relative;
  overflow: hidden;
}

.fancyGlass:before {
  content: '';
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background: linear-gradient(
      rgba(var(--glass-color), 0.12) 0%,
      rgba(var(--glass-color), 0) 74.04%
    ),
    linear-gradient(
      0deg,
      rgba(var(--glass-color), 0.04),
      rgba(var(--glass-color), 0.04)
    );
  position: absolute;
  top: -1px;
  left: -1px;
  mask: url("data:image/svg+xml,%3Csvg width='402' height='202' viewBox='0 0 402 202' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='401' height='201' rx='9.5' /%3E%3C/svg%3E%0A");
  pointer-events: none;
}

body {
  overflow-x: hidden;
}
