<footer class="row-fluid footer clearfix">
  <section class="container-fluid footer-container">
    <p>Always feel free to ask or open an issue.</p>
    <a href="https://github.com/danmindru/angular-boilerplate-study/archive/master.zip" target="_blank" class="btn btn-success">Download</a>
    <a href="https://github.com/danmindru/angular-boilerplate-study" target="_blank" class="btn btn-primary">Contribute</a>
    <a href="https://github.com/danmindru/angular-boilerplate-study/issues" target="_blank" class="btn btn-danger">Have an issue?</a>
  </section>
</footer>