<nav class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footer-container" role="navigation">
  <p class="footer-text">
    Copyright © <span ng-bind="vm.currentDate"></span> Dan Mindru
    <a target="_blank" class="contact-link default-footer-link" href="mailto:mindrudan@gmail.com">mindrudan@gmail.com</a>
    <a target="_blank" class="contact-link default-footer-link" href="http://twitter.com/mindrudan">@mindrudan</a>
    <a class="contact-link default-footer-link" href ui-sref="about" ui-sref-active="active">About</a>
    <a class="contact-link default-footer-link" href ui-sref="home" ui-sref-active="active">Projects</a>
  </p>
</nav>